@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat' , sans-serif;
}

a{
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*for every image to take 100% of the space where we put it*/
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*for every section-title to appear with red and white letters*/
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: crimson;
}

/*for every brand first letter be red*/
.brand{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand span{
    color: crimson;
}

/*---------------------header section-------------------------------*/

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%); 
    /*background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);*/
    /*background-color: rgba(32 ,30 ,30 ,0.24);
    transition: 0.3s ease background-color;*/
}

#header .brand h1{
    color: white;
    font-size: 1rem;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    color: white;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#header .nav-list ul a{
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    transition: .3s ease color;
    transition: .5s ease transform;
}

#header .nav-list ul a:hover{
    color: crimson;
    transform: scale(1.2);
}

/*--------------------end of header section-------------------------*/


/*--------------Hero section----------------------------------------*/

#hero{
    background-image: url(./img/portfolio.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color,color;
}

#hero .cta:hover{
    color: white;
    background-color: crimson;
}

/*---------------------End of hero section--------------------------------------*/

/*---------------------Services sectionn----------------------------------------

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.05rem;
}

#services .service-top{
    width: 500px;
    margin: 0 auto;
}

#services .service-bottom{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/projects.jpg);
    background-size: cover;
    margin:10px 5%;
    z-index: 1;
    color: white;
    position: relative;
}

#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    border-radius: 10px;
    z-index: -1;
}

#services .service-bottom .icon{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

#services .service-item h2{
    margin-bottom: 10px;
    font-size: 2rem;
}

#services .service-item p{
    font-size: 1.4rem;
}
--------------------End of Services section------------------------------------------*/

/*---------------------Projects Section------------------------------------------------*/

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header{
    margin: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    /*background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);*/

}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 400;
}

#projects .project-info h2{
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
}

#projects .project-img img{
    transition: .3s ease transform;
}

#projects .project-item .project-img:hover img{
    transform: scale(1.1);
}
/*------------------End of projects section--------------------------------------------*/

/*------------------About Section-----------------------------------------------------*/

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
}

#about .col-left .about-img{
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    z-index: -1;
    border: 7px solid crimson
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}

/*----------------End of about section------------------------------------------------*/

/*----------------contact section-----------------------------------------------------*/

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 98%;
}

#contact .contact-items{
    width: 400px;
    margin: auto;
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;

}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/*-----------------end of contact section-------------------------------------------*/

/*-----------------footer section---------------------------------------------------*/

#footer{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    /*background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);*/
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 50px;
    width: 50px;
    margin-bottom:0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
    transition: .3s ease transform;
}

#footer .social-item:hover img{
    filter: grayscale(0);
    transform: scale(1.2);
}

#footer p{
    color: white;
    font-size: 1.3rem;
}
/*-----------------end of footer section--------------------------------------------*/



/*keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500px;
    }
}

/*end of keyframes*/

/*Media Query for tablet*/
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding:20px 60px;
    }
    h1 .section-title{
        font-size: 6rem;
    }

    #header .brand h1{
        color: white;
        font-size: 2rem;
    }

    #header .nav-list ul a{
        font-size: 1.5rem;
    }    

    #hero h1{
        font-size: 5rem;
    }

    /*#services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }*/

    #projects .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #projects .all-projects .project-info{
        height: 100%;
    }

    #projects .all-projects .project-img{
        height: 100%;
    }

    #about .about{
        flex-direction: row;
    }

    #about .col-left{
        padding-left: 60px;
        width: 600px;
        height: 400px;
    }

    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }

    #about .col-right{
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1{
        text-align: left;
    }

    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
    }
}
/*end of media query for tablet*/

/*media query for desktop*/
@media only screen and (min-width:1200px) {
    /*#services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }*/

    #header .brand{
        font-size: 2rem;
    }

    #header .nav-list ul a{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 6rem;
    }
}
/*end of media query for desktop*/